*{
  -fx-alignment: center_left;
}
.button{
    -fx-cursor: hand;
}

.container-xxl{
    -fx-max-width: 1440px;
    -fx-padding: 30;
    -fx-background-color: #f5f5f9;
}

.authentication-basic {
  -fx-alignment: center;
}

.authentication-wrapper {
  -fx-min-height: 500px;
  -fx-width: 100%;
}

.authentication-wrapper.authentication-basic .authentication-inner {
  -fx-max-width: 400px;
  position: relative;
}

.card {
  -fx-effect: dropshadow( one-pass-box, rgba(67,89,113,.12), 50, 0, 0, 10 );
  -fx-background-color: #fff;
  -fx-background-radius: 8;
}
.card *{
  -fx-fill: #697a8d;
}

.card-body{
    -fx-padding: 30;
}
.card-header{
    -fx-padding: 25;
    -fx-border-color: #d9dee3;
    -fx-border-radius: 8 8 0 0;
}
.card-header-nr{
    -fx-padding: 25;
    -fx-border-color: #d9dee3;
}
.card-footer{
    -fx-padding: 5 10;
    -fx-border-radius: 0 0 10 10;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: #d9dee3;
}
.app-brand {
  -fx-min-height: 1px;
  -fx-alignment: center;
}
.justify-content-center {
  -fx-alignment: center;
}
.justify-content-top-left {
  -fx-alignment: top-left;
}
.justify-content-top-center {
  -fx-alignment: top-center;
}
.mb-0{
    -fx-padding: 0 0 0 0;
}
.mb-1{
    -fx-padding: 0 0 4 0;
}
.mb-2{
    -fx-padding: 0 0 8 0;
}
.mb-3{
    -fx-padding: 0 0 16 0;
}
.mb-4{
    -fx-padding: 0 0 24 0;
}

.h6 .text,.h5 .text,.h4 .text,.h3 .text,.h2 .text,.h1 .text{
    -fx-fill: #566a7f
}

.h6{
    -fx-font-size: 16
}
.h5{
    -fx-font-size: 18
}
.h4{
   -fx-font-size: 22
}
.h3{
    -fx-font-size: 26
}
.h2{
    -fx-font-size: 30
}
.h1{
    -fx-font-size: 38
}
.p{
    -fx-wrap-text: true;
}
.small{
    -fx-text-fill: a1acb8;
}
.label-danger .text{
    -fx-fill: #ff3e1d;
}
.wrap20{
    -fx-wrap-text: true;
    -fx-pref-width: 20;
}
.wrap50{
    -fx-wrap-text: true;
    -fx-pref-width: 50;
}
.wrap100{
    -fx-wrap-text: true;
    -fx-pref-width: 100;
}
.wrap150{
    -fx-wrap-text: true;
    -fx-pref-width: 150;
}
.wrap200{
    -fx-wrap-text: true;
    -fx-pref-width: 200;
}
.spacing5{
    -fx-spacing: 5;
}
.spacing10{
    -fx-spacing: 10;
}
.spacing20{
    -fx-spacing: 20;
}
.spacing30{
    -fx-spacing: 30;
}

.top10{
    -fx-alignment: top;
    -fx-padding: 10 0 0 0;
}
.top20{
    -fx-alignment: top_center;
    -fx-padding: 20 0 0 0;
}
.text-muted{
    //-fx-font-size: 12;
    -fx-text-fill: #a1acb8;
}
.bolder{
    -fx-font-weight: bold;
}
.form-label {
  -fx-padding: 0 0 5 0;
  -fx-font-weight: 500;
  -fx-text-fill: #566a7f;
  -fx-font-size: 15;
}
.form-control, .form-select, .form-number, .form-date {
  -fx-padding: 5 8;
  -fx-font-size: 15;
  -fx-font-weight: 400;
  -fx-text-fill: #697a8d;
  -fx-background-color: #fff;
  -fx-border-width: 1;
  -fx-border-radius: 5;
  -fx-border-color: #d9dee3;
}
.form-select{
  -fx-padding: 0 8;
}
.form-number{
  -fx-padding: 0;
}
.form-date{
    -fx-padding: 0;
}
.form-number .text-field{
    -fx-background-color: #fff;
}

.form-number .increment-arrow-button,
.form-number .decrement-arrow-button,
.form-date .arrow-button{
    -fx-background-color: #e9e9ed;
}

.form-number .increment-arrow,
.form-number .decrement-arrow,
.form-date .arrow-button .arrow{
    -fx-background-color: #9f9fac;
}

.form-control:focused, .box-text:focused {
  -fx-border-color: #969af4;
}

.form-date .date-picker-display-node{
    -fx-background-color: none;
}
.input-group{
  -fx-padding: 1;
  -fx-border-radius: 5;
  -fx-border-color: #d9dee3;
  -fx-background-color: #fff;
}
.input-group .form-control{
  -fx-border-color: none;
  -fx-background-color: #fff;
}
.input-group-text{
    -fx-background-color: #fff;
    -fx-max-height: 500000;
}
.input-group-text .icon{
    -fx-background-color: #fff;
    -fx-max-height: 500000;
    -fx-icon-size: 15;
}

.box-text{
    -fx-pref-width: 60;
    -fx-pref-height: 45;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #fff;
    -fx-border-color: #d9dee3;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #697a8d;
}

.cursor-pointer{
    -fx-cursor: hand;
}

.form-check {
  -fx-min-height: 10px;
  -fx-padding: 0 17 0 0;
  -fx-margin: 5;
}

.form-check-input .box{
    -fx-background-radius: 5;
    -fx-background-color: #fff;
    -fx-border-radius: 5;
    -fx-border-color: #d9dee3;
}
.form-check-input .box:focused{
    -fx-border-color: #969af4;
}
.form-check-input:selected .box{
    -fx-background-color: #696cff;
    -fx-border-color: #696cff;
}
.form-check-input:selected .mark{
    -fx-background-color: #fff;
}
.form-check-input .text{
    -fx-font-size: 15;
    -fx-font-weight: 400;
    -fx-text-fill: #697a8d;
}

.btn{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.btn-primary {
  -fx-text-fill: #fff;
  -fx-background-color: #696cff;
  -fx-border-color: #696cff;
  -fx-padding: 5;
  -fx-effect: dropshadow(gaussian, rgba(105,108,255,.4), 1, 0, 0, 1 );
}

.btn-primary:hover {
  -fx-background-color: #383cff;
}

.btn-secondary {
  -fx-text-fill: #fff;
  -fx-background-color: #8592a3;
  -fx-border-color: #8592a3;
  -fx-padding: 5;
  -fx-effect: dropshadow(gaussian, rgba(105,108,255,.4), 1, 0, 0, 1 );
}

.btn-secondary:hover {
  -fx-background-color: #859290;
}

.btn-warning{
  -fx-text-fill: #fff;
  -fx-background-color: #ffab00;
  -fx-border-color: #ffab00;
  -fx-padding: 5;
  -fx-effect: dropshadow(gaussian, rgba(255,62,29,.4), 1, 0, 0, 1 );
}

.btn-warning:hover{
  -fx-background-color: #ffa000;
}
.btn-danger{
  -fx-text-fill: #fff;
  -fx-background-color: #ff3e1d;
  -fx-border-color: #ff3e1d;
  -fx-padding: 5;
  -fx-effect: dropshadow(gaussian, rgba(255,62,29,.4), 1, 0, 0, 1 );
}
.btn-danger:hover{
  -fx-background-color: #e00e1d;
}

.btn-primary .text,
.btn-danger .text,
.btn-warning .text,
.btn-secondary .text{
  -fx-fill: #fff;
  -fx-font-size: 16;
}

.btn-primary .ikonli-font-icon{
  -fx-fill: #fff;
  -fx-font-size: 20;
}
.btn-label-primary{
     -fx-background-color: #e7e7ff;
     -fx-padding: 5;
 }

.btn-label-primary:hover{
     -fx-background-color: #383cff;
 }

.btn-label-primary .text{
    -fx-fill: #696cff;
    -fx-font-size: 16;
}

.btn-label-primary:hover .text{
    -fx-fill: #fff;
 }

.btn-label-secondary{
     -fx-background-color: #ebeef0;
     -fx-padding: 5;
 }

.btn-label-secondary:hover{
     -fx-background-color: #8592a3;
 }


.btn-label-secondary .text{
    -fx-fill: #8592a3;
    -fx-font-size: 16;
}
.btn-label-secondary:hover .text{
    -fx-fill: #fff;
}

.btn-padding{
  -fx-padding: 5 20;
}
.w100{
    -fx-max-width: 10000000;
}

.bg-menu-theme{
    -fx-background-color: #fff;
}
.menu-vertical{
    -fx-alignment: top_left;
}

.bg-menu-theme *{
    -fx-fill: #697a8d;
}
.menu-vertical .app-brand {
  -fx-padding: 30 20;
}

.menu-vertical .menu-item {
  -fx-padding: 6 10;
}

.menu-item{
  -fx-background-color: #fff;
  -fx-alignment: center_right;
  -fx-collapsible: false;
  -fx-content-display: right;
  -fx-graphic-text-gap: 10;
  -fx-font-size: 15;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}

.menu-item .ikonli-font-icon{
  -fx-icon-size: 20;
}

.menu-item .title{
  -fx-background-radius: 5;
  -fx-background-color: #fff;
  -fx-cursor: hand;
  -fx-padding: 10;
}

.menu-item:hover .title{
  -fx-background-color: #f5f3f3;
}
.data-truncate:hover{
  -fx-background-color: #f5f3f3;
}

.menu-toggle{
  -fx-collapsible: true;
  -fx-animated: true;
  -fx-cursor: default;
}
.menu-toggle .title{
  -fx-cursor: default;
}

.menu-toggle .content{
  -fx-background-color: white;
  -fx-border-color: white;
}

.data-truncate{
    -fx-spacing: 10;
    -fx-padding: 0 10 0 0;
    -fx-background-radius: 5;
    -fx-alignment: center_right;
}

.data-truncate .content{
    -fx-padding: 0;
}

.data-truncate .circle{
    -fx-pref-height: 5;
    -fx-background-color: #697a8d;
    -fx-background-radius: 100;
}

.data-truncate .circle .line{
    -fx-stroke: #697a8d;
    -fx-fill: #697a8d;
    visibility: hidden;
}

.menu-item .menu-item{
    -fx-padding: 0;
    -fx-graphic-text-gap: 20;
}
.menu-item .menu-item .title{
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 5;

}
.menu-item .menu-item .data-truncate{
    -fx-padding: 0 20 0 0;
}
.data-truncate .button{
    -fx-background-color: none;
}

.menu-header-text{
    -fx-content-display: left;
    -fx-padding: 25 0;
    -fx-collapsible: false;

}
.menu-header-text .title{
    -fx-background-color: #fff;
    -fx-text-fill: #a1acb8;
}
.menu-header-text .title .text{
    -fx-text-fill: #a1acb8;
}
.menu-header-text .title .arrow-button{
    visibility: false;
}
.menu-header-text .line{
    -fx-pref-width: 25;
    -fx-border-width: 50;
   -fx-stroke-width: 2;
   -fx-stroke: #a1acb8;
}
.menu-header-text .content{
   -fx-background-color: white;
   -fx-border-color: white;
}
.nav-bar{
    -fx-padding: 10;
    -fx-background-color: #fff;
}
.nav-item {
    -fx-max-height: 100000;
    -fx-background-color: #fff;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.nav-item .arrow-button{
    visibility: false;
}
.nav-item .ikonli-font-icon{
    -fx-icon-color: #697a8d;
}


.nav-bar .menu-item{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-padding: 10 8;
}

.nav-bar .menu-item:hover{
    -fx-background-color: #f5f3f3;
    -fx-background-radius: 0;
}

.nav-bar .menu-item .text{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-fill: #697a8d;
}
.badge {
    -fx-stroke: #fff;
}
.menu-item .dropdown-notifications-archive{
    -fx-background-color: none;
    -fx-padding: 0;
    visibility: false;
}
.menu-item:hover .dropdown-notifications-archive{
    visibility: true;
}
.bx-sm{
    -fx-icon-size: 25;
}
.bx-nm{
    -fx-icon-size: 50;
}
.avatar{
    -fx-pref-width: 38;
    -fx-pref-height: 38;
    -fx-background-color: #ebeef0;
    -fx-cursor: hand;
}
.me-sm-4{
    -fx-padding: 0 20 0 0;
}
.rounded{
    -fx-border-radius: 20%;
    -fx-background-radius: 20%;
}

.width-always{
    -fx-max-width: 99999;
}
.table{
    -fx-min-height: 300;
}

.table .nested-column-header *{
    -fx-fill: #fff;
    -fx-alignment: center;
    -fx-padding: 5;
}

.table .table-column {
    -fx-background-color: white;
    -fx-border-color: #d9dee3;
    -fx-border-width: 1 1 0 0;
    -fx-padding: 5;
    -fx-alignment: center_left;

}
.table .show-hide-columns-button {
    -fx-background-color: #fff;

}

.table .label .text{
    -fx-fill: #566a7f;
}

.table .placeholder{
    -fx-alignment: center;
}
.list{
    -fx-min-height: 300;
    -fx-border-color: #d9dee3;
    -fx-background-color:#fff;
}
.list:focused{
    -fx-border-color: #d9dee3;
    -fx-background-color:#fff;
}
.list-lot{
    -fx-min-height: 500;
}

.list .list-cell {
    -fx-background-color: white;
    -fx-border-color: #d9dee3;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 5;
    -fx-alignment: center_left;
}
.list-lot .list-cell {
    -fx-background-color: white;
    -fx-border-color: #d9dee3;
    -fx-border-width: 0 1 5 1;
    -fx-padding: 5;
    -fx-alignment: center_left;
}
.list-lot .list-cell:empty {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-alignment: center_left;
    -fx-pref-height: 0;
}
.list-lot .list-cell:focused {
    -fx-background-color: white;
    -fx-border-color: #d9dee3;
}
.list-lot .list-cell:empty {
    -fx-background-color: white;
    -fx-border-color: white;
}

.table-pane{
    -fx-background-color: #fff;
    -fx-border-color: #d9dee3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10 0;
    -fx-min-height: 700;
}

.table-pane .tab-content-area{
    -fx-padding: 0;
}
.table-pane .tab-header-background{
    -fx-background-color: #fff;
}
.table-pane .tab-header-area{
}
.table-pane .tab{
    -fx-background-color: #fff;
    -fx-pref-height: 35;
    -fx-padding: 20;
}
.table-pane .tab:selected{
    -fx-background-color: #eceef1;
}

.scroll-bar{
    -fx-background-color: #fff;
    -fx-pref-width: 15;
    -fx-padding: 2;
}

.scroll-bar .thumb{
    -fx-background-color: rgb(105, 122, 141);
}
.scroll-pane{
    -fx-border-color: none;
    -fx-background-color: none;
    -fx-padding: 0 15 0 0;
}
.page-item{
    -fx-background-color: #f0f2f4;
    -fx-padding: 5 10;
    -fx-text-fill: #697a8d;
    -fx-background-radius: 5;
}
.editor{
  -fx-padding: 5 0;
  -fx-font-size: 15;
  -fx-font-weight: 400;
  -fx-text-fill: #697a8d;
  -fx-background-color: #fff;
  -fx-border-width: 1;
  -fx-border-radius: 5;
  -fx-border-color: #d9dee3;
}

.editor .top-toolbar, .editor .bottom-toolbar{
  -fx-font-size: 15;
  -fx-font-weight: 400;
  -fx-text-fill: #697a8d;
  -fx-background-color: #fff;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #d9dee3;
  -fx-padding: 10 20;
}
.editor .html-editor-cut,
.editor .html-editor-copy,
.editor .html-editor-paste,
.editor .html-editor-align-left,
.editor .html-editor-align-center,
.editor .html-editor-align-right,
.editor .html-editor-align-justify,
.editor .html-editor-indent,
.editor .html-editor-outdent,
.editor .html-editor-bullets,
.editor .html-editor-numbers,
.editor .html-editor-bold,
.editor .html-editor-italic,
.editor .html-editor-underline,
.editor .html-editor-strike,
.editor .html-editor-hr,
.editor .html-editor-background,
.editor .html-editor-foreground,
.editor .font-menu-button,
.editor .html-editor-foreground,
.editor .html-editor-foreground,
.editor .html-editor-foreground,
.editor .html-editor-foreground{
  -fx-background-color: #fff;
  -fx-border-color: #d9dee3;
  -fx-border-radius: 5;
  -fx-border-width: 1;
}

.drop-zone{
  -fx-background-color: #fff;
  -fx-border-color: #d9dee3;
  -fx-border-radius: 5;
  -fx-border-width: 5;
  -fx-padding: 75 30;
}